<div layout="row" width="100%">
    <div layout="column" flex="50">
        <div class="md-display-2" ng-if="settings.name">{{settings.name}} Email Settings</div>
        <div class="md-display-2" ng-if="!settings.name">New Email Settings</div>
    </div>
    <div layout="column" layout-align="end end" flex="50">
        <div layout="row" flex>

        </div>

    </div>
</div>
<md-divider/>
<div layout="column">

    <md-content layout-padding>

        <div class="md-display-1">SMTP</div>

        <form name="settingsForm">

            <md-input-container class="md-block">
                <label>Settings Name</label>
                <input required name="name" ng-model="settings.name">
                <div ng-messages="settings.name.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>SMTP Server</label>
                <input required name="smtp_server" ng-model="settings.email.smtp.host">
                <div ng-messages="settings.email.smtp.host.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>SMTP Port</label>
                <input required name="smtp_port" ng-model="settings.email.smtp.port">
                <div ng-messages="settings.email.smtp.port.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>SMTP Username</label>
                <input required name="smtp_username" ng-model="settings.email.smtp.auth.user">
                <div ng-messages="settings.email.smtp.auth.user.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>SMTP Password</label>
                <input required name="smtp_password" ng-model="settings.email.smtp.auth.pass" type="password">
                <div ng-messages="settings.email.smtp.auth.pass.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <md-checkbox ng-model="settings.email.smtp.secure" aria-label="Secure SMTP">
                    Secure
                </md-checkbox>
            </md-input-container>

            <div>
                <md-button ng-click="updateSettings(settings)" type="submit" class="md-raised md-primary" ng-disabled="settingsForm.$invalid">Save</md-button>
                <md-button ng-click="deleteSettings(settings)" type="submit" class="md-raised md-warn">Delete</md-button>
            </div>

        </form>
    </md-content>

</div>
