

<div id="responses-container">


    <div layout="row" width="100%">
        <div layout="column" flex="50">
            <div class="md-display-1">Responses</div>
        </div>
        <div layout="column" layout-align="end end" flex="50">
            <div layout="row" flex>
            </div>

        </div>
    </div>
    <md-divider>
        <md-card>

            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="mdl-data-table dt-left">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>BODY</th>
                    <th>ATTACHMENT</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data" ng-click="onRowSelect(item)">
                    <td>{{ item._id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.body}}</td>
                    <td>{{ item.attachment}}</td>
                </tr>
                </tbody>
            </table>

        </md-card>

</div>