<div id="appHeader" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            &nbsp;&nbsp;
            <div layout="row" >

                <a class="logo_link" ui-sref="app.dashboard">
                    <!--<img src="assets/images/logo.png" style="height:64px;"/>-->
                    <h1><i>{Lead Finder}</i></h1>

                </a>



                <md-progress-circular ng-hide="!showActivity" ng-disabled="!showActivity"
                                      class="md-warn" md-diameter="40"></md-progress-circular>
            </div>

            <span flex></span>
            <div layout="row" layout-margin>
                <!--<md-button ui-sref=".posts" class="md-raised white">POSTS</md-button>-->
                <!--<md-button ui-sref="app.searchlist" class="md-raised white">SEARCHES</md-button>-->
                <md-button ui-sref="app.searchlist"  class="md-fab md-mini secondary md-raised">
                    <md-icon md-font-library="material-icons" aria-label="refresh">search</md-icon>
                </md-button>
                <!--<md-button ui-sref="app.responses" class="md-raised white">RESPONSES</md-button>-->
                <md-button ui-sref="app.responses"  class="md-fab md-mini secondary md-raised">
                    <md-icon md-font-library="material-icons" aria-label="refresh">email</md-icon>
                </md-button>
                <!--<md-button ui-sref="app.cities" class="md-raised white">CITIES</md-button>-->
                <md-button ui-sref="app.cities"  class="md-fab md-mini secondary md-raised">
                    <md-icon md-font-library="material-icons" aria-label="refresh">location_city</md-icon>
                </md-button>
                <!--<md-button ui-sref="app.settings" class="md-raised white">SETTINGS</md-button>-->
                <md-button ui-sref="app.app-settings"  class="md-fab md-mini secondary md-raised">
                    <md-icon md-font-library="material-icons" aria-label="refresh">settings</md-icon>
                </md-button>
                <!--<md-button ng-click="logout()">LOGOUT</md-button>-->
            </div>

            &nbsp;&nbsp;
        </div>

    </md-toolbar>



</div>