<div id="searches-container">


    <div layout="row" width="100%">
        <div layout="column" flex="50">
            <div class="md-display-1">Searches</div>
        </div>
        <div layout="column" layout-align="end end" flex="50">
            <div layout="row" flex>
                <md-button ng-click="editSearch({})" class="md-fab md-mini md-primary md-raised">
                    <md-icon md-font-library="material-icons" aria-label="add_circle">add_circle</md-icon>
                </md-button>
            </div>

        </div>
    </div>
    <md-divider>
        <md-card>

            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="mdl-data-table dt-left">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in searches">
                    <td ng-click="gotoPosts(item)">{{ item.name }}</td>
                    <td><md-button ng-click="editSearch(item)" class="md-fab md-mini md-secondary
                                md-raised md-hue-1">
                        <md-icon md-font-library="material-icons" aria-label="edit">mode_edit</md-icon>
                    </md-button></td>
                </tr>
                </tbody>
            </table>

        </md-card>

</div>