<div class="md-display-2">Dashboard</div>
<md-divider ></md-divider>

<div layout="row">
    <md-button ui-sref="app.searchlist">
        <md-card class="dashboard-card" md-theme="default" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Searches</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
                <!--<md-icon md-font-library="material-icons" aria-label="search">search</md-icon>-->

            </md-card-title>


            <md-card-content layout="row" layout-align="center">
                <i class="material-icons" style="font-size:88px;">search</i>
            </md-card-content>
        </md-card>
    </md-button>

    <md-button ui-sref="app.responses">
        <md-card class="dashboard-card" md-theme="default" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Responses</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
                <!--<md-icon md-font-library="material-icons" aria-label="search">search</md-icon>-->

            </md-card-title>


            <md-card-content layout="row" layout-align="center">
                <i class="material-icons" style="font-size:88px;">email</i>
            </md-card-content>
        </md-card>
    </md-button>




</div>

<div layout="row">
    <md-button ui-sref="app.cities">
        <md-card class="dashboard-card" md-theme="default" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Cities</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
                <!--<md-icon md-font-library="material-icons" aria-label="search">search</md-icon>-->

            </md-card-title>


            <md-card-content layout="row" layout-align="center">
                <i class="material-icons" style="font-size:88px;">location_city</i>
            </md-card-content>
        </md-card>
    </md-button>

    <md-button ui-sref="app.app-settings">
        <md-card class="dashboard-card" md-theme="default" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">App Settings</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
                <!--<md-icon md-font-library="material-icons" aria-label="search">search</md-icon>-->

            </md-card-title>


            <md-card-content layout="row" layout-align="center">
                <i class="material-icons" style="font-size:88px;">settings</i>
            </md-card-content>
        </md-card>
    </md-button>
</div>