#posts-container {
  //min-width:480px;

  table {
    table-layout: fixed;
    //display:table;
    width: 100%;
  }

  td {
    word-wrap: break-word;
    //white-space: -o-pre-wrap;
    //white-space: pre-line;
    //white-space: -moz-pre-wrap;
    //white-space: -pre-wrap;
    //text-overflow: ellipsis;
    max-width: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

  }

  .postTitle {
    //text-overflow: ellipsis;
    //max-width:300px;
  }


}


