<div id="posts-container">


    <div layout="row" width="100%">
        <div layout="column" flex="50">
            <div class="md-display-1">Posts</div>
        </div>
        <div layout="column" layout-align="end end" flex="50">
            <div layout="row" flex>
                <md-button ng-click="refreshPosts()" class="md-primary md-raised">Refresh Posts</md-button>
                <md-button ng-click="updatePosts()" class="md-secondary md-raised">Update Posts</md-button>
                <md-button ng-click="clearPosts()" class="md-warn md-raised">Clear Posts</md-button>
            </div>

        </div>
    </div>
    <md-divider/>

    <div layout="row">
        <div flex>
            <md-card >

                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="mdl-data-table dt-left">
                    <thead>
                    <tr>
                        <th>URL</th>
                        <th>DATE</th>
                        <th>TITLE</th>
                        <!--<th>Description</th>-->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in data">
                        <td>{{item.link}}</td>
                        <td>{{item.publish_date}}</td>
                        <td  ng-click="openPost(item)"><p class="postTitle">{{ item.title }}</p></td>
                        <!--<td class="postDescription">{{ item.description }}</td>-->
                        <td >
                            <div layout="row" >
                                <md-button  ng-click="respondPost(item)" class="md-fab md-mini md-primary md-raised" ng-disabled="!item.email"><md-icon md-font-library="material-icons" aria-label="send" >send</md-icon></md-button>
                                <md-button  ng-click="rejectPost(item)" class="md-fab md-mini md-warn md-raised"><md-icon md-font-library="material-icons" aria-label="delete">delete</md-icon></md-button>
                                <md-button  ng-click="editPost(item)" class="md-fab md-mini md-secondary
                                md-raised md-hue-1"><md-icon md-font-library="material-icons" aria-label="edit">mode_edit</md-icon></md-button>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </md-card>
        </div>

    </div>



</div>