<div id="posts-container">


    <div layout="row" width="100%">
        <div layout="column" flex="50">
            <div class="md-display-1">Posts</div>
        </div>
        <div layout="column" layout-align="end end" flex="50">
            <div layout="row" flex>
                <md-button ng-click="refreshPosts()" class="md-primary md-raised">Refresh Posts</md-button>
                <md-button ng-click="updatePosts()" class="md-secondary md-raised">Update Posts</md-button>
                <md-button ng-click="clearPosts()" class="md-warn md-raised">Clear Posts</md-button>
            </div>

        </div>
    </div>
    <md-divider/>

    <div layout="row">
        <div flex>
            <md-card >

                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="mdl-data-table dt-left">
                    <thead>
                    <tr>
                        <th>URL</th>
                        <th>DATE</th>
                        <th>TITLE</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in data">
                        <td>{{item.link}}</td>
                        <td>{{item.publish_date}}</td>
                        <td class="postTitle">{{ item.title }}</td>
                        <td class="postDescription">{{ item.description }}</td>

                    </tr>
                    </tbody>
                </table>

            </md-card>
        </div>

    </div>



</div>