

<div id="email-settings-container">


    <div layout="row" width="100%">
        <div layout="column" flex="50">
            <div class="md-display-1">Email Settings</div>
        </div>
        <div layout="column" layout-align="end end" flex="50">
            <div layout="row" flex>
                <md-button ng-click="editSettings({})" class="md-fab md-mini md-primary md-raised">
                    <md-icon md-font-library="material-icons" aria-label="add_circle">add_circle</md-icon>
                </md-button>
            </div>

        </div>
    </div>
    <md-divider>
        <md-card>

            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="mdl-data-table dt-left">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data" ng-click="onRowSelect(item)">
                    <td>{{ item._id }}</td>
                    <td>{{ item.name }}</td>
                </tr>
                </tbody>
            </table>

        </md-card>

</div>